html {
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
}
body {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
.header {
    text-align: center;
    margin-top: 15em;
}
.btn-primary{
    background-color: #6f99a1;
    border-color: #6f99a1;
    border-radius: 2rem;
}
.btn-primary:hover {
    background-color: #bbcbd1;
    border-color: #bbcbd1;
}
